/* Estilos comunes */
.Group {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto; /* Margen centrado */
}

.progress {
  height: 20px; /* Ajusta según el diseño */
  line-height: 20px; /* Ajusta según el diseño */
  text-align: center;
  color: white; /* Color del texto */
}

.green {
  background-color: green; /* Color de fondo verde */
}

.yellow {
  background-color: yellow; /* Color de fondo amarillo */
}

.red {
  background-color: red; /* Color de fondo rojo */
}


.flex-grow-1 {
  flex-grow: 1;
}

/* Estilos para el modo claro */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .navbar-light {
  background-color: #f8f9fa;
}

.light-mode .modal-content {
  background: black !important;
  color: white !important;
}

.light-mode .btn-primary {
  background-color: blue;
  color: white;
}

.light-mode .btn-danger {
  background-color: red;
  color: white;
}

.light-mode .btn-secondary {
  background-color: gray;
  color: white;
}

.light-mode .Group {
  background-image: url('../img/lightmodefondo1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar-dark {
  background-color: #343a40;
}

.dark-mode .modal-content {
  background: black !important;
  color: white !important;
}

.dark-mode .btn-primary {
  background-color: #1e88e5;
}

.dark-mode .btn-danger {
  background-color: #e53935;
}

.dark-mode .btn-secondary {
  background-color: #757575;
}

.dark-mode .Group {
  background-image: url('../img/darkmodefondo1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Otros estilos necesarios */
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: black !important; /* Fondo negro */
  color: white !important; /* Texto blanco */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para el grupo de botones */
.button-group {
  display: flex;
  justify-content: space-between; /* Espacio entre botones */
  gap: 10px; /* Separación entre botones */
}

.button-group .btn {
  flex: 1; /* Opcional: Ajusta este valor para que los botones tengan el mismo ancho */
}
