/* Login.css */

.Login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

.form-container {
  position: relative; /* Asegura que el contenedor sea relativo para que el contenedor de la imagen pueda ser absoluto */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px); /* Aplicar filtro de desenfoque solo a la imagen de fondo */
  z-index: -1; /* Asegura que la imagen de fondo esté detrás de otros elementos */
}

.form {
  background-color: #f8f9fa; /* Fondo claro */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
.footer {
  background-color: darkgrey;
  padding: 5px;
  text-align: center;
  color: lightgrey;
  width: 100%;
}

.light-mode .Login {
  background-image: url('../img/lightmodefondo1.jpg'); /* Ruta de la imagen de fondo para modo claro */
  background-size: cover;
  background-attachment: fixed;
}

.dark-mode .Login {
  background-image: url('../img/darkmodefondo1.jpg'); /* Ruta de la imagen de fondo para modo oscuro */
  background-size: cover;
  background-attachment: fixed;
}

.light-mode .form {
  background-color: #f8f9fa; /* Fondo claro */
  color: #333333; /* Texto oscuro */
}

.dark-mode .form {
  background-color: #333333; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
}

  