/* Register.css */

.Register {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

.form {
  background-color: #f8f9fa; /* Fondo claro */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
.footer {
  background-color: darkgrey;
  padding: 5px;
  text-align: center;
  color: lightgrey;
  width: 100%;
}

.light-mode .Register {
  background-image: url('../img/lightmodefondo1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.dark-mode .Register {
  background-image: url('../img/darkmodefondo1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.light-mode .form {
  background-color: #f8f9fa; /* Fondo claro */
  color: #333333; /* Texto oscuro */
}

.dark-mode .form {
  background-color: #333333; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
}
